*,
::before,
::after {
  box-sizing: border-box; /* take borders into account for the size of blocks (width/height) */
  margin: 0;
  padding: 0;
}
/* make the standard font-size at 10px to have 1rem=10px */
html {
  font-size: 62.5%; 
}
body {
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  background: linear-gradient(to right, #def6f9, #c9d1e0);
  padding: clamp(20px, 5vw, 50px) 10px 10px;
  overflow: overlay; /* make the background of the scrollball "transparent */
}
body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */ 
  background-color: #aaa;
  /* display: none; --> to hide the scrollbar*/ 
}
body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 5px;
}
ul {
  list-style-type: none; /* delete ul style (dots) */
}
a {
  text-decoration: inherit; /* avoid underline on links */
  color: inherit; /* avoid links to change color on clic */
}