body {
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  background: linear-gradient(to right, #def6f9, #c9d1e0);
  padding: clamp(20px, 5vw, 50px) 10px 10px;
  overflow: overlay; /* make the background of the scrollball "transparent */
}
body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */ 
  background-color: #d1d1d1;
  /* display: none; --> to hide the scrollbar*/ 
}
body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 5px;
}